<div class="jumbotron">
    <h1 class="display-3">Heroes</h1>
    <hr class="my-2">
    <div class="mb-2 ml-4">
        <form class="form-inline" >
        <!--onChangePhrase($event) metódus az input elem keyup eseményére.-->
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Hero Name">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Superpower</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of heroList$ | filter:phrase:'name'">
                        <td>{{ hero.id }}</td>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.superpower }}</td>
                        <td>{{ hero.address }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>


</div>